.javascript .mlcom       { color: #000; }
.javascript .com           { color: #000; }
.javascript .regexp     { color: #000; }
.javascript .string     { color: #000; }
.javascript .keywords { color: #000; font-weight: bold; }
.javascript .global     { color: #000; }
.javascript .numbers   { color: #000; }
