@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

body,div,h1{
    font-family:'Montserrat', sans-serif;
    margin:0;
    padding:0;
    text-align: center;
}

body{
    color:#000;
    background: #f4f4f4;
    font-size:small;
    margin:0;
    padding:0;
    text-align: center;
    position: relative;
}

h1{
    color: #1a5455;
    background: #f4f4f4;
    font-size: 2rem;;
    font-weight:400;
    font-family: 'Montserrat', sans-serif;
    margin:0;
    align: center;
    line-height: 1.2;
}

p {
    color: #000;
    background: #f4f4f4;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

h2{
    color:#000;
    background: #f4f4f4;
    font-size:small;
    font-weight:400;
    margin:0;
}

pre{
    background:#f4f4f4;
    color: #000;
    border:1px solid #ddd;
    border-left-width:5px;
    font-size:small;
    overflow-x:auto;
    padding:15px;
}

pre.normal{
    background-color:transparent;
    border:none;
    border-left-width:0;
    overflow-x:auto;
}

#main{
    margin:0 20px 20px;
    padding:0 15px 15px 0;
}

#content{
    padding:20px;
}

#busy{
    background:#f4f4f4;
    border:1px ridge #ccc;
    color:#000;
    display:none;
    padding:3px;
    position:absolute;
    right:7px;top:7px;
}

hr{
    height:1px;
}

code{
    font-size:108%;
    font-style:normal;
    padding:0;
}

ul{
    color:#000;
    background: #f4f4f4;
    list-style:square;
}

#banner{
    margin:20px;
    padding-bottom:10px;
    text-align:left;
}

#banner *{
    color:#000;
    background: #f4f4f4;
    font-family:'Montserrat', sans-serif;
    font-size:30px;
    font-style:normal;
    font-weight:400;
    margin:0;
    padding:0;
}

#banner h1{
    display:block;
    float:left;
}

#banner h1 em{
    color:#000;
    background: #f4f4f4;
}

#banner h2{
    float:right;
    font-size:26px;
    margin:10px 10px -10px -10px;
}

#banner h3{
    clear:both;
    display:block;
    font-size:12px;
    margin-top:-20px;
}

#banner a{
    border-top:1px solid #888;
    display:block;
    font-size:14px;
    margin:5px 0 0;
    padding:10px 0 0;
    text-align:right;
    width:auto;
}

a.external{
    background-image:url(../img/external.png);
    background-position:center right;
    background-repeat:no-repeat;
    padding-right:12px;
}

form{
    font-size:10pt;
    margin-bottom:20px;
    width:auto;
}

form fieldset{
    padding:10px;
    text-align:left;
    width:140px;
}

div#main h1{
    border-bottom:1px solid #CDCDCD;
    display:block;
    margin-top:20px;
    padding:10px 0 2px;
}

table#tablesorter-demo {
    margin: 10px 0 0 0;
}

table#options *{
    font-size:small;
}

p.tip em {
    padding: 2px; 
    background: #f4f4f4; 
    color: #000;
}

div.digg {
    float: right;
}