@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

/* tables */
table.tablesorter {
	font-family:arial;
	background: #f4f4f4; 
	color: #000;		
	margin:10px 0pt 15px;
	font-size: 10pt;
	width: 100%;
	text-align: left;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background: #f4f4f4;			
	border: 0px solid #FFF;				
	font-size: 8pt;
	padding: 4px;
}

table.tablesorter thead tr .header{
	background-image: url("../imagens/bg.gif");
	background-repeat: no-repeat;
	background-position: right;
	cursor: pointer;
}

table.tablesorter tbody td {
	color: #000; 					
	padding: 2px;
	background: #f4f4f4; 			
	vertical-align: top;
	border: 0px solid #FFF;			
}
table.tablesorter tbody tr.odd td {
	background:#f4f4f4;           
}

table.tablesorter thead tr .headerSortUp {
	background-image: url("../imagens/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
	background-image: url("../imagens/desc.gif");
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background: #f4f4f4; 				
}